body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

ol {
    max-width: 800px;
}

li {
    font-size: 50px;
}

a {
    text-decoration: none;
    color: black;
}

span {
    color: blueviolet;
    align-self: flex-start;
    font-size: 100px;
    display: none;
}

span.active {
    display: inline;
}